{% extends "base.html" %} {% block title %}Home{% endblock %}

<!--BLOCK OF CSS-->
{% block relative_css %}
    <link rel="stylesheet" href="static\control_panel.css">
    <link rel="stylesheet" href="static\video_stream.css">
    <link rel="stylesheet" href="static\rf_details.css">
    <link rel="stylesheet" href="static\event_log.css">
    <link rel="stylesheet" href="static\alerts.css">
    <link rel="stylesheet" href="static\container.css">
{% endblock %}

{% block content %}

<!--PARENT CONTAINER-->
<div class="parent_cont">
    <div class="row1">
        <div class="list1">
            <!--VIDEO CONTAINER-->
            <div id="video">
                <div id="vid_cont">
                    <div id="vf1" class="vfeed">
                        <img alt="Room 1"  src="" crossorigin="anonymous">
                    </div>
                    <div id="vf2" class="vfeed">
                        <img alt="Room 2" src="" crossorigin="anonymous">
                    </div>
                    <div id="vf3" class="vfeed">
                        <img alt="Room 3" src="" crossorigin="anonymous">
                    </div>
                    <div id="vf4" class="vfeed">
                        <img alt="Room 4" src="" crossorigin="anonymous">
                    </div>
                </div>
                <!--ROOM DROPDOWN-->
                <div class="dropdown">
                    <button onclick="myFunction()" class="dropbtn">Rooms</button>
                    <div id="myDropdown" class="dropdown-content">
                        <a onclick="preview(1); feedSize(1)" name="vr1" id="vr1">Room 1</a>
                        <a onclick="preview(2); feedSize(2)" name="vr2" id="vr2">Room 2</a>
                        <a onclick="preview(3); feedSize(3)" name="vr3" id="vr3">Room 3</a>
                        <a onclick="preview(4); feedSize(4)" name="vr4" id="vr4">Room 4</a>
                        <a onclick="preview(5); feedSize(5)" name="flr1" id="flr1">Floor 1</a>
                        <a onclick="preview(6); feedSize(6)" name="flr2" id="flr2">Floor 2</a>
                        <a onclick="preview(7); feedSize(7)" name="all" id="all">All</a>
                    </div>
                </div>       
            </div>

            <!--CONTROL PANEL CONTAINER-->
            <div id="control_elem">
                <!--<div id="displayDiv">timer</div>-->


                <!--OPERATION FORM-->
                <form method="POST" id="control_sec" >

                    <!--ROOM CHECKBOX CONTAINER-->
                    <div id="control_cont1">
                        <label class="f1" id="f1r1">
                            <input class="rclass" type="checkbox" name="r1" id="r1"
                                oninvalid="this.setCustomValidity(' ')"  >Room 1</input>
                        </label>
                        <label class="f1" >
                            <input class="rclass" type="checkbox" name="r2" id="r2"
                                    oninvalid="this.setCustomValidity(' ')" >Room 2</input>
                        </label>
                        <label class="f2">
                            <input class="rclass" type="checkbox" name="r3" id="r3"
                                oninvalid="this.setCustomValidity(' ')" >Room 3</input>
                        </label>
                        <label class="f2" id="f2r4">
                            <input class="rclass" type="checkbox" name="r4" id="r4"
                                    oninvalid="this.setCustomValidity(' ')" >Room 4</input>
                        </label>
                    </div>

                    <!--FLOOR CHECKBOX CONTAINER-->
                    <div id="control_cont2">
                        <label class="floor_cont">
                            <input onchange="check_f1()" name="floor1" id="floor1" type="checkbox">Floor 1
                        </label>
                        <label class="floor_cont">
                            <input onchange="check_f2()" name="floor2" id="floor2" type="checkbox">Floor 2
                        </label>
                    </div>

                    <!--OPERATION IN LIST-->
                    <ul id="op_sect">
                        <li>

                            <!--OPERATION CONTAINER-->
                            <div id="control_cont3">
                                
                                <!--UV DISINFECTION SWITCH-->
                                <div onmouseleave="op_leave(document.getElementById('uvlbl1'))" onmouseenter="op_hover(document.getElementById('uvlbl1'))" id="uvli">
                                    <label onmouseleave="op_leave(this)" onmouseenter="op_hover(this)" id="uvlbl1">UV Disinfection</label>
                                    <label class="switch">
                                        <input class="op" type="checkbox" name="uv_s" id="uv_s" onchange="uv_on()" >
                                        <span  id="slider1" class="slider round">
                                            <span id="sliderchild"></span>
                                        </span>
                                    </label>
                                </div>

                                <!--AIR FILTRATION SWITCH-->
                                <div onmouseleave="op_leave(document.getElementById('uvlbl2'))" onmouseenter="op_hover(document.getElementById('uvlbl2'))" id="uvli1">
                                    <label onmouseleave="op_leave(this)" onmouseenter="op_hover(this)" id="uvlbl2">Air Filtration</label>
                                    <label class="switch">
                                        <input class="op" type="checkbox" name="air_s" id="air_s" onchange="air_on()" >
                                        <span id="slider2" class="slider round"></span>
                                    </label>
                                </div>
                            </div>
                        </li>

                        <!--STATUS CONTAINER-->
                        <li>
                            <div id="control_cont4">
                                <label id="lbl">STATUS</label>
                                <label id="val">Terminated</label>
                                <label id="val1">Terminated</label>
                            </div>
                        </li>
                    </ul>
                
                    <!--DATABASE PARAMERTERS-->
                    <input type="text" id="room_num" name="room_num" required/>
                    <input type="text" id="date_now" name="date_now" required/>
                    <input type="text" id="time_now" name="time_now" required/>
                    <input type="text" id="stat" name="stat" required/>
                    <input type="text" id="interval" name="interval" required/>

                    <!--CONTROL PANEL LINE-->
                    <hr style="height: 1px; margin-top: 20px; margin-bottom: 0px; width: 70%;">

                    <!--TIMER CONTAINER-->
                    <div id="time_cont">
                        <label id="ti_label">Time Interval</label>
                        <input onkeyup="hms_valuefil(this)" class="uv_timer" type="number" id="h1" name="h1" max="10" min="0" oninvalid="this.setCustomValidity(' ')" value="00" required/>
                        <p class="colont"> : </p>
                        <input onkeyup="hms_valuefil(this)"  class="uv_timer" type="number" id="m1" name="m1" max="59" min="0" oninvalid="this.setCustomValidity(' ')" value="00" required/>
                        <p class="colont"> : </p>
                        <input onkeyup="hms_valuefil(this)" class="uv_timer" type="number" id="s1" name="s1" max="59" min="0" oninvalid="this.setCustomValidity(' ')" value="00" required/>
                    </div>
                
                    <!--BUTTON SUBMIT-->
                    <div id="control_cont6">
                        <button onclick="start_action()" type="submit" value="Started" name="start" id="start">Start</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row2">
        <div class="list2">
            <div id="rf_details">
                <!--ROOM AND FLOOR DETAIL-->
                <div id="rf_cont">
                    <div class="rfc" id="rf1"><p class="labels" id="roomnumlbl">Room Number: </p><p id="roomnum" class="labels1">Room#</p></div>
                    <div class="rfc" id="rf2"><p class="labels" id="floornumlbl">Floor Number: </p><p id="floornum" class="labels1">Floor#</p></div>
                    <div class="rfc" id="rf3"><p class="labels" id="lastdis1">Last Disinfection: </p><p id="lastdis" class="labels1">Time | Date</p></div>
                    <div class="rfc" id="rf4"><p class="labels" id="lastfilt1">Last Air Filtration: </p><p id="lastfilt" class="labels1">Time | Date</p></div>
                </div>
            </div>

            <!--EVENT LOG CONTAINER-->
            <div id="time_sched">
                <div id="ts_cont">
                    <div id="tbllbl">Event Log</div>
                    <!--EVENT LOG TABLE-->
                        <table id="log">
                            <tr>
                                <th>ID</th>
                                <th>User ID</th>
                                <th>UV Disinfection</th>
                                <th>Air Filtration</th>
                                <th>Room Number</th>
                                <th>Time</th>
                                <th>Time Interval</th>
                                <th>Action</th>
                                <th>Date</th>
                            </tr>

                            <!--DISPLAYING EVENT LOG RECORDS USING JINJA2-->
                            {% for record in user.logs|reverse %}
                            <tr>
                                <td>{{ record.id }}</td>
                                <td>{{ record.user_id }}</td>
                                <td>{{ record.uv }}</td>
                                <td>{{ record.air }}</td>
                                <td>{{ record.room }}</td>
                                <td id="timef">{{ record.time }}</td>
                                <td>{{ record.interval }}</td>
                                <td>{{ record.stat }}</td>
                                <td>{{ record.date }}</td>
                            </tr>
                            {% endfor %}

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    alert("gg1");


    if ( window.history.replaceState) {
        alert("gg");
        window.history.replaceState( null, null, window.location.href);
    }else{
        window.history.replaceState(document.getElementById('hidden field id').value, '', window.location.href);
    }    
</script>   


<!--JAVASCRIPT IMPORT-->
<script
    type="text/javascript"
     src="{{ url_for('static', filename='button_interact.js') }}"
    >
</script>

<!--TIME FILTER-->
<script>
    var i;
    var tblLog = document.getElementById('log');
    for (i=1; i < tblLog.rows.length; i++){
        tblLog.rows[i].cells[5].innerHTML = tblLog.rows[i].cells[5].innerHTML.replace(tblLog.rows[i].cells[5].innerHTML.slice(-6,-3), "");
    }
</script>

<script>
    let stat_val;
    let last_uv;
    let last_air;
    let last_time;
    let last_date;
    let last_interval;
    let rooms;

    let r1_time = "off";
    let r1_date = "off";
    let r2_time = "off";
    let r2_date = "off";
    let r3_time = "off";
    let r3_date = "off";
    let r4_time = "off";
    let r5_date = "off";

    let r1_time1 = "off";
    let r1_date1 = "off";
    let r2_time1 = "off";
    let r2_date1 = "off";
    let r3_time1 = "off";
    let r3_date1 = "off";
    let r4_time1 = "off";
    let r5_date1 = "off";
    
</script>

<!--RECENT RECORD VARIABLE DECLARATION-->
{% for rec in user.logs %}
    <script type="text/javascript">
        stat_val = "{{ rec.stat }}";
        last_uv = "{{ rec.uv }}";
        last_air = "{{ rec.air }}";
        last_time = "{{ rec.time }}";
        last_date = "{{ rec.date }}";
        last_interval = "{{ rec.interval }}";
        rooms = "{{ rec.room }}";


        //alert("uv air " + last_uv + " " + last_air);
        //alert("date time " + last_date + " " + last_time);
        
        if (last_uv == "on"){
            if (rooms.includes("1") == true){
                r1_time = last_time;
                r1_date = last_date;
            }
            if (rooms.includes("2") == true){
                r2_time = last_time;
                r2_date = last_date;
            }
            if (rooms.includes("3") == true){
                r3_time = last_time;
                r3_date = last_date;
            }
            if (rooms.includes("4") == true){
                r4_time = last_time;
                r4_date = last_date;
            }
        }
            

        if (last_air == "on"){
            if (rooms.includes("1") == true){
                r1_time1 = last_time;
                r1_date1 = last_date;
            }
            if (rooms.includes("2") == true){
                r2_time1 = last_time;
                r2_date1 = last_date;
            }
            if (rooms.includes("3") == true){
                r3_time1 = last_time;
                r3_date1 = last_date;
            }
            if (rooms.includes("4") == true){
                r4_time1 = last_time;
                r4_date1 = last_date;
            }
        }
    </script>
{% endfor %}


<!--ON LOAD FUNCTIONS-->
<script type = "text/javascript">
        function status(){
            //DEFAULT ROOM FLOOR DETAILS
            var r_1 = document.getElementById('r1');
            var r_2 = document.getElementById('r2');
            var r_3 = document.getElementById('r3');
            var r_4 = document.getElementById('r4');

            var floor_1 = document.getElementById('floor1');
            var floor_2 = document.getElementById('floor2');
            
            //alert("submit button "+ document.getElementById('start').value);
            //ON LOAD DISABLER 
            if (stat_val == "Started"){
                    if (window.sessionStorage.getItem('primary-key') != 0 | window.sessionStorage.getItem('primary-key') != null){
                        floor_1.disabled = true;
                        floor_2.disabled = true;
                        r_1.disabled = true;
                        r_2.disabled = true;
                        r_3.disabled = true;
                        r_4.disabled = true;
                        document.getElementById('start').value = "Stopped";
                    }else {
                        floor_1.disabled = false;
                        floor_2.disabled = false;
                        r_1.disabled = false;
                        r_2.disabled = false;
                        r_3.disabled = false;
                        r_4.disabled = false;
                        document.getElementById('start').value = "Started";
                    }
                }else if (stat_val == "Stopped"){
                    floor_1.disabled = false;
                    floor_2.disabled = false;
                    r_1.disabled = false;
                    r_2.disabled = false;
                    r_3.disabled = false;
                    r_4.disabled = false;
                    document.getElementById('start').value = "Started";
                }
        }

        //SESSION RETRIEVER
        function checkOnLoad(){

            //OP RETRIEVER
            let room_str = rooms.replace(/, /g,"");
            const keyval = window.sessionStorage.getItem('primary-key');
            if (last_uv == "on"){
                alert("primary key value " + window.sessionStorage.getItem('primary-key'));
                document.getElementById('uv_s').checked = true;
                if(keyval != 0 & keyval != null)
                    document.getElementById('val').innerHTML = "Running";
            }
            if (last_air == "on"){
                document.getElementById('air_s').checked = true;
                if(keyval != 0 & keyval != null)
                    document.getElementById('val1').innerHTML = "Running";
            }

            //ROOM RETRIEVER
                for (let i=0; i <= room_str.length; i++){
                if (room_str.charAt(i) == '1')
                    r1.checked = true;
                else if (room_str.charAt(i) == '2')
                    r2.checked = true;
                else if (room_str.charAt(i) == '3')
                    r3.checked = true;
                else if (room_str.charAt(i) == '4')
                    r4.checked = true;
                }
            

            //VIDEO SOURCE
            //document.getElementById('em').src="http://192.168.0.32:81/stream";
            //alert(document.getElementById("start").value);
        }
</script>

<script>

    //ROOM AND FLOOR DETAILS GENERATOR
    function preview(x) {

        var rnum = document.getElementById('roomnum');
        var ldis = document.getElementById('lastdis');
        var lfilt = document.getElementById('lastfilt');

        //ROOM1
        if (x == 1) {
            document.getElementById('roomnum').innerHTML = "1";
            document.getElementById('floornum').innerHTML = "1";
            ldis.innerHTML = r1_time + "  |  " + r1_date;
            lfilt.innerHTML = r1_time1 + "  |  " + r1_date1;
            //ROOM2
        } else if (x == 2){
            document.getElementById('roomnum').innerHTML = "2";
            document.getElementById('floornum').innerHTML = "1";

            ldis.innerHTML = r2_time + "  |  " + r2_date;
            lfilt.innerHTML = r2_time1 + "  |  " + r2_date1;

            //ROOM3
        } else if (x == 3){
            document.getElementById('roomnum').innerHTML = "3";
            document.getElementById('floornum').innerHTML = "2";

            ldis.innerHTML = r2_time + "  |  " + r3_date;
            lfilt.innerHTML = r3_time1 + "  |  " + r3_date1;

            //ROOM4
        } else if (x == 4){
            document.getElementById('roomnum').innerHTML = "4";
            document.getElementById('floornum').innerHTML = "2";

            ldis.innerHTML = r4_time + "  |  " + r4_date;
            lfilt.innerHTML = r4_time1 + "  |  " + r4_date1;

            //FLOOR1
        } else if (x == 5){
            document.getElementById('roomnum').innerHTML = "1 & 2";
            document.getElementById('floornum').innerHTML = "1";

            ldis.innerHTML = "ROOM 1: [ " + r1_time + " | " + r1_date + " ]";
            ldis.appendChild(brelem);
            ldis.appendChild(document.createTextNode("ROOM 2: [ " + r2_time + " | " + r2_date + " ]"));
            
            lfilt.innerHTML = "ROOM 1: [ " + r1_time1 + " | " + r1_date1 + " ]";
            lfilt.appendChild(brelem);
            lfilt.appendChild(document.createTextNode("ROOM 2: [ " + r2_time1 + " | " + r2_date1 + " ]"));

            //FLOOR2
        } else if (x == 6){
            document.getElementById('roomnum').innerHTML = "3 & 4";
            document.getElementById('floornum').innerHTML = "2";
            var brelem = document.createElement("br");

            ldis.innerHTML = "ROOM 3: [ " + r3_time + " | " + r3_date + " ]";
            ldis.appendChild(brelem);
            ldis.innerHTML += "ROOM 4: [ " + r4_time + " | " + r4_date + " ]";

            lfilt.innerHTML = "ROOM 3: [ " + r3_time1 + " | " + r3_date1 + " ]";
            lfilt.appendChild(brelem);
            lfilt.innerHTML += "ROOM 4: [ " + r4_time1 + " | " + r4_date1 + " ]";

            //ALL ROOMS
        } else if (x == 7){
            document.getElementById('roomnum').innerHTML = "All";
            document.getElementById('floornum').innerHTML = "All";
            var brelem = document.createElement("br");

            ldis.innerHTML = "ROOM 1: [ " + r1_time + " | " + r1_date + " ]";
            ldis.appendChild(brelem);
            ldis.innerHTML += "ROOM 2: [ " + r2_time + " | " + r2_date + " ]";
            ldis.appendChild(brelem);
            ldis.innerHTML += "ROOM 3: [ " + r3_time + " | " + r3_date + " ]";
            ldis.appendChild(brelem);
            ldis.innerHTML += "ROOM 4: [ " + r4_time + " | " + r4_date + " ]";

            lfilt.innerHTML = "ROOM 1: [ " + r1_time1 + " | " + r1_date1 + " ]";
            lfilt.appendChild(brelem);
            lfilt.innerHTML += "ROOM 2: [ " + r2_time1 + " | " + r2_date1 + " ]";
            lfilt.appendChild(brelem);
            lfilt.innerHTML += "ROOM 3: [ " + r3_time1 + " | " + r3_date1 + " ]";
            lfilt.appendChild(brelem);
            lfilt.innerHTML += "ROOM 4: [ " + r4_time1 + " | " + r4_date1 + " ]";
        }
        //alert("gungong");
    }
</script>

<script>

    //FLOOR CHECKER
    function check_f1() {
        var stat1 = document.getElementById("floor1");

        if (stat1.checked == true){
            document.getElementById("r1").checked = true;
            document.getElementById("r2").checked = true;
        } else{
            document.getElementById("r1").checked = false;
            document.getElementById("r2").checked = false;
        }
    }

    //ROOM CHECKER
    function check_f2(){
        var stat2 = document.getElementById("floor2");

        if (stat2.checked == true){
            document.getElementById("r3").checked = true;
            document.getElementById("r4").checked = true;
        } else{
            document.getElementById("r3").checked = false;
            document.getElementById("r4").checked = false;
        }
    }
</script>


<script>

    //UV STYLER
    function uv_on() {
        let uv = document.getElementById('uvlbl1');
        let uv_stat = document.getElementById('uv_s');
        if (uv_stat.checked == true){
            uv.style.color = "yellow";
        }else {
            uv.style.color = "white";
         }
    }

    //AIR STYLER
    function air_on() {
        let uv = document.getElementById('uvlbl2');
        let uv_stat = document.getElementById('air_s');
        if (uv_stat.checked == true){
            uv.style.color = "yellow";
        }else {
            uv.style.color = "white";
         }
    }

    //OPERATION HOVER
    function op_hover(x) {
        x.style.color = "yellow";
    }

    //OPERATION STYLER
    function op_leave(x) {
        x.style.color = "white";
        if (document.getElementById('uv_s').checked == true){
            document.getElementById('uvlbl1').style.color = "yellow";
        }
        
        if (document.getElementById('air_s').checked == true){
            document.getElementById('uvlbl2').style.color = "yellow";
        }
    }
</script>


<script>

    //DROPDOWN ROOM BUTTONS
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function(event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
        
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>

<!--
    <script>

    //
    function loadFunction() {
        var rclass = document.getElementsByClassName('rclass');
        var flag = 0;

        for (let i = 0; i < rclass.length; i++){
            if (rclass[i].required == true){
                flag = 1;
            }
        }

        if (flag == 0){
            rclass[0].required = true;
        }

        if ( window.history.replaceState ) {
            window.history.replaceState( null, null, window.location.href );
        }
    }
</script>
-->

<script>
    //ON WINDOW LOAD FUNCTION
    window.onload = function(){
        preview(1);
        checkOnLoad();
        status();

        //RETRIEVE RECENT DATE AND TIME FROM EVENT LOG TABLE
        var time_span = new Date(last_date + " " + last_time);

        //CREATE NEW DATE TIME INSTANCE
        var current_time = new Date();

     
        //SET TIMER DEADLINE BY ADDING RETRIEVED DATE TIME VALUE WITH TIMER INPUT
        time_span.setHours(time_span.getHours() + parseInt(last_interval.substr(0,1)));
        time_span.setMinutes(time_span.getMinutes() + parseInt(last_interval.substr(5,6)));
        time_span.setSeconds(time_span.getSeconds() + parseInt(last_interval.substr(10,11)));

        //GET DATE TIME VALUE IN MILISECONDS
        var target_time = time_span.getTime();
        var now = current_time.getTime();
            
        //SUBTRACT DATE TIME DEADLINE BY CURRENT TIME
        var time_left = target_time - current_time;

        //CONVERT DATE TIME VALUE TO TIME VALUE 
        var hours1 = Math.floor((time_left % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes1 = Math.floor((time_left % (1000 * 60 * 60)) / (1000 * 60));
        var seconds1 = Math.floor((time_left % (1000 * 60)) / 1000);

        alert("time_left = " + hours1 + " : " + minutes1 + " : " + seconds1);

        //CHECK IF THE REMAINING TIME IS GREATER THAN ZERO
        if (time_left  > 0 & (window.sessionStorage.getItem('primary-key') != 0 & window.sessionStorage.getItem('primary-key') != null)){
            
            //CONVERT TIME VALUE TO SECONDS
            var total_seconds = (hours1 * 60 * 60) + (minutes1 * 60) + seconds1;
            window.sessionStorage.setItem('primary-key',total_seconds);
            document.getElementById('start').innerHTML = "Stop";

            //SET COUNTDOWN VALUE TO ZERO
        }else {
            window.sessionStorage.setItem('primary-key',0);
            window.sessionStorage.setItem('my-counter1',0);
        }

    
        //CHECK IF THE COUNTDOWN VARIABLE IS EMPTY
        if (window.sessionStorage.getItem(COUNTER_KEYP) != null | window.sessionStorage.getItem(COUNTER_KEYP) != 0){
            //TIMER DISABLER
            document.getElementById('h1').readOnly = true;
            document.getElementById('m1').readOnly = true;
            document.getElementById('s1').readOnly = true;

            //SET ENABLER FALSE
            enable_setting(false);


            //OPERATION ACTION
            if (window.sessionStorage.getItem(COUNTER_KEY2) == 2){
                h1.value = "00";
                m1.value = "00";
                s1.value = "00";

                enable_setting(false);

                document.getElementById('start').innerHTML = "Start";

                //RESETING DOUNDOWN VARIABLES TO ZERO
                window.sessionStorage.setItem(COUNTER_KEY1, 0);
                window.sessionStorage.setItem(COUNTER_KEY2, 0);
                window.sessionStorage.setItem(COUNTER_KEYP, 0);
            }

            //PASS THE VALUE TO VARIABLE COUNTDOWN
            countDownTime = window.sessionStorage.getItem(COUNTER_KEYP);
        }else {
            alert(window.sessionStorage.getItem(COUNTER_KEYP));
            countDownTime = window.sessionStorage.getItem(COUNTER_KEYP);
        }

        //CALLING COUNDOWN FUNCTION
        countDown(countDownTime, function() {
            $('#myModal').modal('show');
        });

    };
</script>


<script>
    let newh = document.getElementById('h1');
    let newm = document.getElementById('m1');
    let news = document.getElementById('s1');
    
    //COUNTDOWN FUNCTION
    function countDown(i, callback) { 
        

        //TIME INTEVAL COUNTDOWN
        timer = setInterval(function() {
            //alert("i = " + i);

        //CONVERTING TOTAL SECONDS TO TIME FORMAT
        var hours = Math.floor((i * 1000 % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((i * 1000 % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((i * 1000 % (1000 * 60)) / 1000);
  
        // Output the result in an element with id="demo"
        newh.value = hours;
        newm.value = minutes;
        news.value = seconds;

        //FORMAT SIGNLE DIGIT TIME VALUE
        if (hours < 10){
            newh.value = "0" + hours;
        }
        if (minutes < 10){
            newm.value = "0" + minutes;
        }
        if (seconds < 10){
            news.value = "0" + seconds;
        }

        //COUNDOWN CHECKER 
        if ((i--) > 0) {
            //RETURN REMAINING SECONDS TO COUNTER VARIABLE
            window.sessionStorage.setItem(COUNTER_KEYP, i);

        }else {
            //CLEAR TIME INTERVAL
            clearInterval(timer);

            //SET ACCESSIBLY OF FORM ELEMENTS AFTER TIME EXPIRATION

            //SET ENABLERS TRUE
            enable_setting(true);

            //UPDATE OPERATION STATUS
            if (document.getElementById('uv_s').checked == true){
                document.getElementById('val').innerHTML = "Terminated";
            }
            if (document.getElementById('air_s').checked == true){
                document.getElementById('val1').innerHTML = "Terminated";
            }

            //SET BUTTON TEXT TO START
            document.getElementById('start').innerHTML = "Start";
  
        }
        }, 1000);

    }
</script>

<script>
    function enable_setting(status){
        var r1 = document.getElementById('r1');
        var r2 = document.getElementById('r2');
        var r3 = document.getElementById('r3');
        var r4 = document.getElementById('r4');

        var f1 = document.getElementById('floor1');
        var f2 = document.getElementById('floor2');

        var val = document.getElementById('val');
        var val1 = document.getElementById('val1');

        //DISABLER FALSE
        if (status == true){
            alert("why is this flase");
            r1.disabled = false;
            r2.disabled = false;
            r3.disabled = false;
            r4.disabled = false;

            f1.disabled = false;
            f2.disabled = false;

            newh.readOnly = false;
            newm.readOnly = false;
            news.readOnly = false;

            val.innerHTML = "Terminated";
            val1.innerHTML = "Terminated";

        //DISABLER TRUE
        } else if (status == false){

            r1.disabled = true;
            r2.disabled = true;
            r3.disabled = true;
            r4.disabled = true;

            f1.disabled = true;
            f2.disabled = true;

            newh.readOnly = true;
            newm.readOnly = true;
            news.readOnly = true;

            val.innerHTML = "Terminated";
            val1.innerHTML = "Terminated";

            document.getElementById('slider1').disabled = true;
            document.getElementById('slider2').disabled = true;

            if (document.getElementById('uv_s').checked == true){
                val.innerHTML = "Running";
            }
            if (document.getElementById('air_s').checked == true){
                val1.innerHTML = "Running";
            }
        }
    }
</script>


<script>

    //VIDEO FEED SIZE
    function feedSize(y){
        //INSTANTIATION
        var i;
        var vidFeed = document.getElementsByClassName("vfeed");

            //VIDEO DISPLAY AND STYLER
            for(i = 0; i < 4; i++){
                if (i == y - 1){
                    vidFeed[i].style.width = "100%";
                    vidFeed[i].style.height = "100%";
                    vidFeed[i].style.display = "block";
                    vidFeed[i].style.borderRadius = "10px";
                    continue;
                }else if (y == 5  & i < 2){
                    vidFeed[i].style.display = "block";
                    vidFeed[i].style.width = "50%";
                    vidFeed[i].style.height = "100%";
                    if (i == 0){
                        vidFeed[i].style.borderTopLeftRadius = "10px";
                        vidFeed[i].style.borderBottomLeftRadius = "10px";
                        vidFeed[i].style.borderTopRightRadius = "0px";
                        vidFeed[i].style.borderBottomRightRadius = "0px";
                        vidFeed[i].style.borderRight = "1px solid aquamarine";
                    }else{
                        vidFeed[i].style.borderTopLeftRadius = "0px";
                        vidFeed[i].style.borderBottomLeftRadius = "0px";
                        vidFeed[i].style.borderTopRightRadius = "10px";
                        vidFeed[i].style.borderBottomRightRadius = "10px";
                        vidFeed[i].style.borderRight = "1px solid aquamarine";
                    }
                    continue;
                }else if (y == 6 & i > 1){
                    vidFeed[i].style.display = "block";
                    vidFeed[i].style.width = "50%";
                    vidFeed[i].style.height = "100%";
                    if (i == 2){
                        vidFeed[i].style.borderTopLeftRadius = "10px";
                        vidFeed[i].style.borderBottomLeftRadius = "10px";
                        vidFeed[i].style.borderTopRightRadius = "0px";
                        vidFeed[i].style.borderBottomRightRadius = "0px";
                        vidFeed[i].style.borderRight = "1px solid aquamarine";
                    }else{
                        vidFeed[i].style.borderTopLeftRadius = "0px";
                        vidFeed[i].style.borderBottomLeftRadius = "0px";
                        vidFeed[i].style.borderTopRightRadius = "10px";
                        vidFeed[i].style.borderBottomRightRadius = "10px";
                        vidFeed[i].style.borderRight = "1px solid aquamarine";
                    }
                    continue;
                }else if (y == 7){
                    vidFeed[i].style.display = "block";
                    vidFeed[i].style.width = "50%";
                    vidFeed[i].style.height = "50%";
                    if (i == 0){
                        vidFeed[i].style.borderTopLeftRadius = "10px";
                        vidFeed[i].style.borderBottomLeftRadius = "0px";
                        vidFeed[i].style.borderTopRightRadius = "0px";
                        vidFeed[i].style.borderBottomRightRadius = "0px";
                        vidFeed[i].style.borderRight = "1px solid aquamarine";
                        vidFeed[i].style.borderBottom = "1px solid aquamarine";   
                    }
                    else if (i == 1){
                        vidFeed[i].style.borderTopLeftRadius = "0px";
                        vidFeed[i].style.borderBottomLeftRadius = "00px";
                        vidFeed[i].style.borderTopRightRadius = "10px";
                        vidFeed[i].style.borderBottomRightRadius = "0px";
                        vidFeed[i].style.borderLeft = "1px solid aquamarine";
                        vidFeed[i].style.borderBottom = "1px solid aquamarine";  
                    }
                    else if (i == 2){
                        vidFeed[i].style.borderTopLeftRadius = "0px";
                        vidFeed[i].style.borderBottomLeftRadius = "10px";
                        vidFeed[i].style.borderTopRightRadius = "0px";
                        vidFeed[i].style.borderBottomRightRadius = "0px";
                        vidFeed[i].style.borderRight = "1px solid aquamarine";
                        vidFeed[i].style.borderTop = "1px solid aquamarine";   
                    }
                    else if (i == 3){
                        vidFeed[i].style.border = "1px";
                        vidFeed[i].style.borderTopLeftRadius = "0px";
                        vidFeed[i].style.borderBottomLeftRadius = "0px";
                        vidFeed[i].style.borderTopRightRadius = "0px";
                        vidFeed[i].style.borderBottomRightRadius = "10px";
                        vidFeed[i].style.borderLeft = "1px solid aquamarine";
                        vidFeed[i].style.borderTop = "1px solid aquamarine";  
                    }
                    continue;
                }

                vidFeed[i].style.display = "none";
            }
    }
</script>
{% endblock %}




    